<div class="container">
  <app-header></app-header>
</div>
<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="\assets\images\ab6.jpeg" alt="" >
      <div class="container">
        <h2>Mr.shafi</h2>
        <h6 class="title">CEO & Founder</h6>
        <h6>the owner of the Product`s World store and Sponcer of the website</h6>
        <h6>shafi_123@gmail.com.com</h6>
        <h6>+93700025242</h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="\assets\images\ab5.jpeg" alt="" >
      <div class="container">
        <h2>Samandar Amiri</h2>
        <h6 class="title">Website Developer and Designer</h6>
        <h6>Having any problem related to product and service you can contact</h6>
        <h6>samandaramiri123@gmail.com</h6>
        <h6>+917986273449</h6>
      </div>
    </div>
  </div> 
  <div class="column">
    <div class="card">
      <img src="assets/images/ab4.jpeg" alt="" >
      <div class="container">
        <h2>Murtaza Ahmad Sunan</h2>
        <h6 class="title">Website Developer and Designer</h6>
        <h6>Having any problem related to product and service you can contact</h6>
        <h6>murtasaalisunan77@gmail.com</h6>
        <h6>+917710454346</h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/ab3.jpeg" alt="" >
      <div class="container">
        <h2>Aimal Amiri</h2>
        <h6 class="title">Website Developer and Designer</h6>
        <h6>Having any problem related to product and service you can contact</h6>
        <h6>amiriaimal11@gmail.com</h6>
        <h6>+917719707456</h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/ab2.jpeg" alt="" >
      <div class="container">
        <h2>Abdul Ghafar Stanikzai</h2>
        <h6 class="title">Website Developer and Designer</h6>
        <h6>Having any problem related to product and service you can contact</h6>
        <h6>stanikzai_abdul22@gmail.com</h6>
        <h6>+916284642799</h6>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/images/ab1.jpeg" alt="" >
      <div class="container">
        <h2>Hamidullah Aminzai</h2>
        <h6 class="title">Website Developer and Designer</h6>
        <h6>Having any problem related to product and service you can contact</h6>
        <h6>hamidaminzai11@gmail.com</h6>
        <h6>+93729568935</h6>
      </div>
    </div>
  </div>
</div>
<div class="container0">
  <app-footer></app-footer>
</div>
