<div class="container">
  <app-header></app-header>
</div>
<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="forpass-form border p-5">
          <div class="text-center heading">
            <h3 class="mb-2 h2">Password Recovery</h3>
            <p class="lead">Please enter the email address for your account. and we will fix it for you.</p>
          </div>
          <form [formGroup]="forgetForm" (ngSubmit)="Submit()">
            <div class="form-group mb-3">
              <label for="comment" class="form-label">Comment</label>
              <input type="text" class="form-control rounded-pill border 10 shadow-sm px-10 text-primary" id="comment"
                [ngClass]="{'is-invalid' : forgetForm.get('comment')?.touched && forgetForm.get('comment')?.invalid }"
                formControlName="comment" />
              <span class="invalid-feedback">
                <span *ngIf="forgetForm.get('comment')?.hasError('required')">Comment is required</span>

              </span>
            </div>
            <div class=" mb-3">
              <label for="email1" class="form-label">Email address</label>
              <input type="email" id="email1" class="form-control rounded-pill border 10 shadow-sm px-10 text-primary"
                [ngClass]="{'is-invalid' : forgetForm.get('email')?.touched && forgetForm.get('email')?.invalid }"
                formControlName="email" />
              <span class="invalid-feedback">
                <span *ngIf="forgetForm.get('email')?.hasError('required')">Email is required</span>
                <span *ngIf="forgetForm.get('email')?.hasError('email')">Type a valid Email</span>
              </span>
              <div id="emailHelp" class="form-text text-primary">We`ll not share your email with anyone
                else</div>
            </div>
            <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
              [disabled]="forgetForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container0">
  <app-footer></app-footer>
</div>