<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <div class="form-group">
            <input type="text" style="background-color: aqua;" class="form-control" [(ngModel)]="searchTerm"
              (keyup)="search($event)" placeholder="search products">
          </div>
          <h1 class="mb-3">Shop</h1>
          <p>Enjoy different Afghani tradational accesseries, we are providing cloths for Your beloved occasion along
            with Afghani Rags with different
            designs and Saffron</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="category section pt-3 pb-0">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item ">
        <div class="card1 col-md-3"></div>
        <img src="assets/images/1111.jpg" alt="" class="img-fluid">
        <a (click)="filter('')" class="read-more">All Collection</a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item ">
        <div class="card1 col-md-3"></div>
        <img src="assets/images/w17.jpg" alt="" class="img-fluid">
        <a (click)="filter('women`s collection')" class="read-more">Ladies Collection</a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item">
        <img src="assets/images/m17.jpg" alt="" class="img-fluid">
        <a (click)="filter('men`s collection')" class="read-more">Gents Collection</a>
      </div>
    </div>
  </div>
</section>
<section class="category section pt-3 pb-0">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item mb-4 mb-lg-0">
        <img src="assets/images/r2.jpg" alt="" class="img-fluid">
        <a (click)="filter('rug collection')" class="read-more">Rugs Collection</a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item mb-4 mb-lg-0">
        <img src="assets/images/s14.jpg" alt="" class="img-fluid">
        <a (click)="filter('shoes collection')" class="read-more">Shoes Collection</a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="cat-item">
        <img src="assets/images/j5.jpg" alt="" class="img-fluid">
        <a (click)="filter('jewllery collection')" class="read-more">jewllery Collection</a>
      </div>
    </div>
  </div>
</section>
<section class="category section pt-3 pb-0">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div cl class="cat-item ">
        <div class="card1 col-md-3"></div>
        <img src="assets/images/z3.jpg" alt="" class="img-fluid">
        <a (click)="filter('saffron collection')" class="read-more">Saffron Collection</a>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;text-align: center;">
          {{item.title}}</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;text-align: center;">
          {{item.description}}</p>
        <p style="text-align:right;"><strong>Price:</strong> AFN {{item.price}}</p>
        <button class="btn btn-primary text-uppercase mb-2 rounded-pill shadow-sm" (click)=addtocart(item)
          (click)=viewitem(item) routerLink="/product-single"> Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>
<div class="container0">
  <app-footer></app-footer>
</div>